<div class="container-fluid fixed-bottom bg-dark" >
  <div class="row text-center">
    <div class="col-4 my-3 text-info">
      @2023
    </div>
    <div class="col-4 my-3 text-info">
      Association des propriétaires de gîtes campagnards
    </div>
    <div class="col-4 my-3 text-info">

     @Joyce
    </div>
  </div>
</div>