<div class="container">
    <header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ path('app_home') }}" class="nav-link px-3 link-warning">ACCUEIL</a></li>
        <li><a href="#" class="nav-link px-3 link-warning">LISTE VÉLOS VOLÉS</a></li>
        <li><a href="#" class="nav-link px-3 link-warning">CONTACT</a></li>
        <li><a href="" class="nav-link px-3 link-warning">INSCRIPTION</a></li>
        <li><a href="" class="nav-link px-3 link-warning">CONNEXION</a></li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="recherche" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">RECHERCHE</button>
      </form>
    </header>
  </div>